.nav-header{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #77002e;
    padding: 0 10%;
}



.nav-header ul{
    list-style: none;
    display: flex;
    align-items: baseline;
}


.nav-header a{
    text-decoration: none;
    color: rgb(202, 153, 184);
    font-size: 1.5rem;
   
}


.nav-header li{
    display: inline-block;
    margin-right: 4rem;
    
}

.nav-header h1{
    font-size: 2rem;
    color:white
}



.nav-header a:hover,
.nav-header a:active,
.nav-header a.active{
    color:white
}

.totalFav{
    margin-left:0.8rem;
    padding: 0 1rem;
    background-color: salmon;
    border-radius: 12px;
    color: white;
}